<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>P0</td><td>Plataforma_Modulo_Inicio_Test.login()[pri:0, instance:com.plataforma.tests.Plataforma_Modulo_Inicio_Test@63eef88a]<br/></td></tr>
<tr><td>P1</td><td>Plataforma_Modulo_Inicio_Test.modulo_1_test()[pri:0, instance:com.plataforma.tests.Plataforma_Modulo_Inicio_Test@63eef88a]<br/></td></tr>
</table>
