<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PrimerTestConjuntoPlataforma</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97d3ed">  <td>21/11/17 12:02:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Plataforma_Modulo_Inicio_Test.login()[pri:0, instance:com.plataforma.tests.Plataforma_Modulo_Inicio_Test@63eef88a]">login</td> 
  <td>pool-1-thread-1@1976448307</td>   <td></td> </tr>
<tr bgcolor="97d3ed">  <td>21/11/17 12:02:54</td>   <td>16015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Plataforma_Modulo_Inicio_Test.modulo_1_test()[pri:0, instance:com.plataforma.tests.Plataforma_Modulo_Inicio_Test@63eef88a]">modulo_1_test</td> 
  <td>pool-1-thread-1@1976448307</td>   <td></td> </tr>
<tr bgcolor="abbcbd">  <td>21/11/17 12:02:35</td>   <td>-2201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractBaseTest.setUp()[pri:0, instance:com.plataforma.tests.Plataforma_Modulo_Inicio_Test@63eef88a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1976448307</td>   <td></td> </tr>
<tr bgcolor="abbcbd">  <td>21/11/17 12:02:52</td>   <td>13992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractBaseTest.setUp()[pri:0, instance:com.plataforma.tests.Plataforma_Modulo_Inicio_Test@63eef88a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1976448307</td>   <td></td> </tr>
<tr bgcolor="abbcbd">  <td>21/11/17 12:02:52</td>   <td>13938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractBaseTest.tearDown()[pri:0, instance:com.plataforma.tests.Plataforma_Modulo_Inicio_Test@63eef88a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1976448307</td>   <td></td> </tr>
<tr bgcolor="abbcbd">  <td>21/11/17 12:02:57</td>   <td>19068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractBaseTest.tearDown()[pri:0, instance:com.plataforma.tests.Plataforma_Modulo_Inicio_Test@63eef88a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1976448307</td>   <td></td> </tr>
</table>
