<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc6975">  <td>22/03/30 14:15:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractBaseTest.setUp()[pri:0, instance:com.plataforma.test.modulo.tareas.Plataforma_Modulo_Tareas_VisualizarUnaTarea@63eef88a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1112737073</td>   <td></td> </tr>
<tr bgcolor="dc6975">  <td>22/03/30 14:16:03</td>   <td>35876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractBaseTest.tearDown()[pri:0, instance:com.plataforma.test.modulo.tareas.Plataforma_Modulo_Tareas_VisualizarUnaTarea@63eef88a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1112737073</td>   <td></td> </tr>
<tr bgcolor="c59a93">  <td>22/03/30 14:15:31</td>   <td>3822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Plataforma_Modulo_Tareas_VisualizarUnaTarea.visualizar_una_tarea_test()[pri:0, instance:com.plataforma.test.modulo.tareas.Plataforma_Modulo_Tareas_VisualizarUnaTarea@63eef88a]">visualizar_una_tarea_test</td> 
  <td>main@1112737073</td>   <td></td> </tr>
</table>
