<div style="margin-bottom: 10px">
    <div class="item {state}">
        <div style="display:flex">
            <div class="test">
                <div>{simbolo} {nombre_prueba}</div>
                <div class="test_desc">{descripcion}</div>
            </div>
            <div class="duration">{duracion} ms</div>
        </div>
    </div>

    <div class="content {state}">
        {content}
    </div>
</div>