<div class="details {state}">
    <div class="report"><pre class="report">{detalles_salida}</pre></div>
    <div class="image_container">
        <div style="padding:2px">
            <img src="{imagen_prueba}" alt="{imagen_prueba}" class="image" />
        </div>
    </div>
</div>